.user-list {
  width: 100%;
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none; /* Edge | IE*/
  scrollbar-width: none; /* Firefox */
  /* flex-wrap: wrap; */
  /* margin: 8px; */
  /* padding: 0; */
}

.user-list::-webkit-scrollbar {
  display: none;
}

.title {
  margin-top: 10px;
}

.user-box {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 20px;
  align-items: center;
  text-align: center;
  margin: 8px;
}
