.app-header {
  padding: 10px;
  background-color: #282c34;
  color: white;
}

.app-header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chat-room-container {
  min-height: 90%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.chat-room-top-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.messages-container {
  margin-top: 20px;
  min-height: 55vh;
  max-height: 55vh;
  flex: 1;
  overflow: scroll;
  border-radius: 7px 7px 0 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.messages-container::-webkit-scrollbar {
  display: none;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.sticky-bottom {
  height: 180px;
  position: sticky;
  bottom: 20;
}
