.app-header {
  padding: 10px;
  background-color: #282c34;
  color: white;
}

.app-header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chat-room-container {
  position: fixed;
  min-height: 90%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.chat-room-top-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  max-width: 15%;
}

.chat-room-top-bar h1 {
  flex: 1;
}

.messages-container {
  margin-top: 20px;
  flex: 1;
  min-height: 100px;
  max-height: 60vh;
  overflow: auto;
  border-radius: 7px 7px 0 0;
  margin-bottom: 8px;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.sticky-bottom {
  height: 142px;
}
